/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h1{
  font-family: 'Cookie';
  text-align: center;
  font-size: 55px;
}

.rest-name{
  color: red;
}
