.restaurant-card{
  background-color: #A7CAB1;
  height: 30vh;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  font-family: 'Wire One', sans-serif;
  font-size: 24px;
}

.restaurant-card h5{
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
  text-decoration: none;
}

a{
  text-decoration: none;
}
