<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <h1>Add a Review for <span class="rest-name"> <%= @restaurant.name %> </span></h1>

        <%= simple_form_for [@restaurant, @review] do |f| %>

        <%= f.input :content %>
        <%= f.submit 'add a review' %>

        <% end %>


    </div>
  </div>
</div>


